<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yizu.proj.sys.dao.MyVoteInfoMapper">
<!-- select UserInfo  -->
  <select id="selectUserInfo" parameterType="integer" resultType="com.yizu.proj.sys.beans.UserInfo">
  	select 
  		userID, email, nick, password, name, registerTime, registerIP, loginTime, loginIP, 
    sex, what, image, phone, mobile, townID, address, postalCode, deliveryTypeID, deliveryTimeID, 
    payTypeID, userMoney, buyScore, activationCode, activationDate, firstName, lastName, 
    hobby, declaration, birthday, degreeID, incomeTypeID, joinStatus, onlineFlag, topicNumber, 
    voteNumber, fansNumber, followNumber, userLevel, membersFlag, activationCodeJoinCommunity, 
    website, food, books, plot, programs, entertainment, tourist, digital, sports, newspapers, 
    bgID, communityTownID, personality, figure, dressStyle, interests, travelDestination, 
    loveToReadMagazinesAndBooks, oftenGoToWebSite, likeStar, goodAtSports, likeMovie, 
    likeFood, likeMakingFriends, lastActionTime, otherAccount, otherAccountFlag, otherAccounTypeID, 
    otherAccountUserImage 
  	from user where userID = #{id}
  </select>
  <!-- select MyVoteInfoImage -->
  <select id="selectMyVoteInfoImage" parameterType="string" resultMap="imgResultMap">
  	select 
  		image_id,vote_id,img_address,img_updatetime,def1,def2,def3,def4 
  	from myvoteinfo_image where vote_id=#{id};
  </select>
  <resultMap type="com.yizu.proj.sys.beans.MyVoteInfoImage" id="imgResultMap">
  	<id column="image_id" jdbcType="VARCHAR" property="imageId"/>
  	<result column="vote_id" jdbcType="VARCHAR" property="voteId"/>
  	<result column="img_address" jdbcType="VARCHAR" property="imgAddress"/>
  	<result column="img_updatetime" jdbcType="TIMESTAMP" property="imgUpdatetime"/>
  	<result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.yizu.proj.sys.beans.MyVoteInfo">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    <id column="vote_id" jdbcType="VARCHAR" property="voteId" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="starttime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="vote_Tag" jdbcType="VARCHAR" property="voteTag" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="visitCount" jdbcType="INTEGER" property="visitcount" />
    <result column="joinCount" jdbcType="INTEGER" property="joincount" />
    <result column="def1" jdbcType="VARCHAR" property="def1" />
    <result column="def2" jdbcType="VARCHAR" property="def2" />
    <result column="def3" jdbcType="VARCHAR" property="def3" />
    <result column="def4" jdbcType="VARCHAR" property="def4" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="pricess" jdbcType="DOUBLE" property="pricess" />
    <result column="isThrough" jdbcType="INTEGER" property="isthrough" />
    <result column="commentCount" jdbcType="INTEGER" property="commentcount" />
    <result column="gzCount" jdbcType="INTEGER" property="gzcount" />
    <result column="love" jdbcType="INTEGER" property="love" />
    <result column="notLove" jdbcType="INTEGER" property="notlove" />
    <result column="buy" jdbcType="INTEGER" property="buy" />
    <result column="isEndVote" jdbcType="INTEGER" property="isendvote" />
    <result column="isRecommend" jdbcType="INTEGER" property="isrecommend" />
    <result column="isTop" jdbcType="INTEGER" property="istop" />
    <!-- entity -->
    <association property="userinfo" column="userId" javaType="com.yizu.proj.sys.beans.UserInfo" select="selectUserInfo">
    </association>
    <!-- myVoteInfoImage list -->
    <collection property="myVoteInfoImage" ofType="com.yizu.proj.sys.beans.MyVoteInfoImage" column="vote_id" select="selectMyVoteInfoImage">
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    vote_id, price, starttime, endtime, userId, title, vote_Tag, summary, visitCount, 
    joinCount, def1, def2, def3, def4, createDate, pricess, isThrough, commentCount, 
    gzCount, love, notLove, buy, isEndVote, isRecommend, isTop
  </sql>
 <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yizu.proj.sys.beans.MyVoteInfoExample" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from myvoteinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${rowsPerPage}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    select 
    <include refid="Base_Column_List" />
    from myvoteinfo
    where vote_id = #{voteId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    delete from myvoteinfo
    where vote_id = #{voteId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yizu.proj.sys.beans.MyVoteInfoExample">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    delete from myvoteinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yizu.proj.sys.beans.MyVoteInfo">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    insert into myvoteinfo (vote_id, price, starttime, 
      endtime, userId, title, 
      vote_Tag, summary, visitCount, 
      joinCount, def1, def2, 
      def3, def4, createDate, 
      pricess, isThrough, commentCount, 
      gzCount, love, notLove, 
      buy, isEndVote, isRecommend, 
      isTop)
    values (#{voteId,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{starttime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{userid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{voteTag,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{visitcount,jdbcType=INTEGER}, 
      #{joincount,jdbcType=INTEGER}, #{def1,jdbcType=VARCHAR}, #{def2,jdbcType=VARCHAR}, 
      #{def3,jdbcType=VARCHAR}, #{def4,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, 
      #{pricess,jdbcType=DOUBLE}, #{isthrough,jdbcType=INTEGER}, #{commentcount,jdbcType=INTEGER}, 
      #{gzcount,jdbcType=INTEGER}, #{love,jdbcType=INTEGER}, #{notlove,jdbcType=INTEGER}, 
      #{buy,jdbcType=INTEGER}, #{isendvote,jdbcType=INTEGER}, #{isrecommend,jdbcType=INTEGER}, 
      #{istop,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yizu.proj.sys.beans.MyVoteInfo">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    insert into myvoteinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="voteId != null">
        vote_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="voteTag != null">
        vote_Tag,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="visitcount != null">
        visitCount,
      </if>
      <if test="joincount != null">
        joinCount,
      </if>
      <if test="def1 != null">
        def1,
      </if>
      <if test="def2 != null">
        def2,
      </if>
      <if test="def3 != null">
        def3,
      </if>
      <if test="def4 != null">
        def4,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="pricess != null">
        pricess,
      </if>
      <if test="isthrough != null">
        isThrough,
      </if>
      <if test="commentcount != null">
        commentCount,
      </if>
      <if test="gzcount != null">
        gzCount,
      </if>
      <if test="love != null">
        love,
      </if>
      <if test="notlove != null">
        notLove,
      </if>
      <if test="buy != null">
        buy,
      </if>
      <if test="isendvote != null">
        isEndVote,
      </if>
      <if test="isrecommend != null">
        isRecommend,
      </if>
      <if test="istop != null">
        isTop,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="voteId != null">
        #{voteId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="voteTag != null">
        #{voteTag,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="visitcount != null">
        #{visitcount,jdbcType=INTEGER},
      </if>
      <if test="joincount != null">
        #{joincount,jdbcType=INTEGER},
      </if>
      <if test="def1 != null">
        #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        #{def4,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="pricess != null">
        #{pricess,jdbcType=DOUBLE},
      </if>
      <if test="isthrough != null">
        #{isthrough,jdbcType=INTEGER},
      </if>
      <if test="commentcount != null">
        #{commentcount,jdbcType=INTEGER},
      </if>
      <if test="gzcount != null">
        #{gzcount,jdbcType=INTEGER},
      </if>
      <if test="love != null">
        #{love,jdbcType=INTEGER},
      </if>
      <if test="notlove != null">
        #{notlove,jdbcType=INTEGER},
      </if>
      <if test="buy != null">
        #{buy,jdbcType=INTEGER},
      </if>
      <if test="isendvote != null">
        #{isendvote,jdbcType=INTEGER},
      </if>
      <if test="isrecommend != null">
        #{isrecommend,jdbcType=INTEGER},
      </if>
      <if test="istop != null">
        #{istop,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yizu.proj.sys.beans.MyVoteInfoExample" resultType="java.lang.Integer">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    select count(*) from myvoteinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    update myvoteinfo
    <set>
      <if test="record.voteId != null">
        vote_id = #{record.voteId,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.starttime != null">
        starttime = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null">
        endtime = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.voteTag != null">
        vote_Tag = #{record.voteTag,jdbcType=VARCHAR},
      </if>
      <if test="record.summary != null">
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.visitcount != null">
        visitCount = #{record.visitcount,jdbcType=INTEGER},
      </if>
      <if test="record.joincount != null">
        joinCount = #{record.joincount,jdbcType=INTEGER},
      </if>
      <if test="record.def1 != null">
        def1 = #{record.def1,jdbcType=VARCHAR},
      </if>
      <if test="record.def2 != null">
        def2 = #{record.def2,jdbcType=VARCHAR},
      </if>
      <if test="record.def3 != null">
        def3 = #{record.def3,jdbcType=VARCHAR},
      </if>
      <if test="record.def4 != null">
        def4 = #{record.def4,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null">
        createDate = #{record.createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.pricess != null">
        pricess = #{record.pricess,jdbcType=DOUBLE},
      </if>
      <if test="record.isthrough != null">
        isThrough = #{record.isthrough,jdbcType=INTEGER},
      </if>
      <if test="record.commentcount != null">
        commentCount = #{record.commentcount,jdbcType=INTEGER},
      </if>
      <if test="record.gzcount != null">
        gzCount = #{record.gzcount,jdbcType=INTEGER},
      </if>
      <if test="record.love != null">
        love = #{record.love,jdbcType=INTEGER},
      </if>
      <if test="record.notlove != null">
        notLove = #{record.notlove,jdbcType=INTEGER},
      </if>
      <if test="record.buy != null">
        buy = #{record.buy,jdbcType=INTEGER},
      </if>
      <if test="record.isendvote != null">
        isEndVote = #{record.isendvote,jdbcType=INTEGER},
      </if>
      <if test="record.isrecommend != null">
        isRecommend = #{record.isrecommend,jdbcType=INTEGER},
      </if>
      <if test="record.istop != null">
        isTop = #{record.istop,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    update myvoteinfo
    set vote_id = #{record.voteId,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DOUBLE},
      starttime = #{record.starttime,jdbcType=TIMESTAMP},
      endtime = #{record.endtime,jdbcType=TIMESTAMP},
      userId = #{record.userid,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      vote_Tag = #{record.voteTag,jdbcType=VARCHAR},
      summary = #{record.summary,jdbcType=VARCHAR},
      visitCount = #{record.visitcount,jdbcType=INTEGER},
      joinCount = #{record.joincount,jdbcType=INTEGER},
      def1 = #{record.def1,jdbcType=VARCHAR},
      def2 = #{record.def2,jdbcType=VARCHAR},
      def3 = #{record.def3,jdbcType=VARCHAR},
      def4 = #{record.def4,jdbcType=VARCHAR},
      createDate = #{record.createdate,jdbcType=TIMESTAMP},
      pricess = #{record.pricess,jdbcType=DOUBLE},
      isThrough = #{record.isthrough,jdbcType=INTEGER},
      commentCount = #{record.commentcount,jdbcType=INTEGER},
      gzCount = #{record.gzcount,jdbcType=INTEGER},
      love = #{record.love,jdbcType=INTEGER},
      notLove = #{record.notlove,jdbcType=INTEGER},
      buy = #{record.buy,jdbcType=INTEGER},
      isEndVote = #{record.isendvote,jdbcType=INTEGER},
      isRecommend = #{record.isrecommend,jdbcType=INTEGER},
      isTop = #{record.istop,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yizu.proj.sys.beans.MyVoteInfo">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    update myvoteinfo
    <set>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="voteTag != null">
        vote_Tag = #{voteTag,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="visitcount != null">
        visitCount = #{visitcount,jdbcType=INTEGER},
      </if>
      <if test="joincount != null">
        joinCount = #{joincount,jdbcType=INTEGER},
      </if>
      <if test="def1 != null">
        def1 = #{def1,jdbcType=VARCHAR},
      </if>
      <if test="def2 != null">
        def2 = #{def2,jdbcType=VARCHAR},
      </if>
      <if test="def3 != null">
        def3 = #{def3,jdbcType=VARCHAR},
      </if>
      <if test="def4 != null">
        def4 = #{def4,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="pricess != null">
        pricess = #{pricess,jdbcType=DOUBLE},
      </if>
      <if test="isthrough != null">
        isThrough = #{isthrough,jdbcType=INTEGER},
      </if>
      <if test="commentcount != null">
        commentCount = #{commentcount,jdbcType=INTEGER},
      </if>
      <if test="gzcount != null">
        gzCount = #{gzcount,jdbcType=INTEGER},
      </if>
      <if test="love != null">
        love = #{love,jdbcType=INTEGER},
      </if>
      <if test="notlove != null">
        notLove = #{notlove,jdbcType=INTEGER},
      </if>
      <if test="buy != null">
        buy = #{buy,jdbcType=INTEGER},
      </if>
      <if test="isendvote != null">
        isEndVote = #{isendvote,jdbcType=INTEGER},
      </if>
      <if test="isrecommend != null">
        isRecommend = #{isrecommend,jdbcType=INTEGER},
      </if>
      <if test="istop != null">
        isTop = #{istop,jdbcType=INTEGER},
      </if>
    </set>
    where vote_id = #{voteId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yizu.proj.sys.beans.MyVoteInfo">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Aug 10 15:55:10 CST 2012.
    -->
    update myvoteinfo
    set price = #{price,jdbcType=DOUBLE},
      starttime = #{starttime,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      userId = #{userid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      vote_Tag = #{voteTag,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      visitCount = #{visitcount,jdbcType=INTEGER},
      joinCount = #{joincount,jdbcType=INTEGER},
      def1 = #{def1,jdbcType=VARCHAR},
      def2 = #{def2,jdbcType=VARCHAR},
      def3 = #{def3,jdbcType=VARCHAR},
      def4 = #{def4,jdbcType=VARCHAR},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      pricess = #{pricess,jdbcType=DOUBLE},
      isThrough = #{isthrough,jdbcType=INTEGER},
      commentCount = #{commentcount,jdbcType=INTEGER},
      gzCount = #{gzcount,jdbcType=INTEGER},
      love = #{love,jdbcType=INTEGER},
      notLove = #{notlove,jdbcType=INTEGER},
      buy = #{buy,jdbcType=INTEGER},
      isEndVote = #{isendvote,jdbcType=INTEGER},
      isRecommend = #{isrecommend,jdbcType=INTEGER},
      isTop = #{istop,jdbcType=INTEGER}
    where vote_id = #{voteId,jdbcType=VARCHAR}
  </update>
</mapper>